<a href="https://colab.research.google.com/github/Altusya/Case-Study/blob/main/1)_merging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import necessary libraries
import sqlite3
import pandas as pd

# Connect to a SQLite database (or create one)
conn = sqlite3.connect("/content/data.db")
cursor = conn.cursor()

In [ ]:
accounts = pd.read_sql_query("SELECT * FROM accounts", conn)
campaigns = pd.read_sql_query("SELECT * FROM campaigns", conn)
clients = pd.read_sql_query("SELECT * FROM clients", conn)
outcomes = pd.read_sql_query("SELECT * FROM outcomes", conn)

In [ ]:
clients.rename(columns={"id": "client_id"}, inplace=True)
clients.head(1)

   client_id  age         job  marital education
0    1000583   43  management  married  tertiary

In [ ]:
accounts.rename(columns={"id": "account_id"}, inplace=True)
accounts.head(1)

   account_id  client_id in_default  balance housing loan  contact
0           1    4815378         no   2143.0     yes   no  unknown

In [ ]:
client_acc = pd.merge(clients, accounts, on="client_id")
client_acc.head(1)

,client_id,age,job,marital,education,account_id,in_default,balance,housing,loan,contact
0,1000583,43,management,married,tertiary,19298,no,-127.0,no,no,cellular

In [ ]:
campaigns.rename(columns={"id": "campaign_id"}, inplace=True)
campaigns.head(1)

   campaign_id  account_id  day month  duration  campaign  pdays  previous
0            1           1    5   may       261         1     -1         0

In [ ]:
client_acc_camp = pd.merge(client_acc, campaigns, on="account_id")
client_acc_camp.head(1)

,client_id,age,job,marital,education,account_id,in_default,balance,housing,loan,contact,campaign_id,day,month,duration,campaign,pdays,previous
0,1000583,43,management,married,tertiary,19298,no,-127.0,no,no,cellular,19298,6,aug,400,2,-1,0

In [ ]:
outcomes.drop(columns=["id"], inplace=True)
outcomes.head(1)

   campaign_id poutcome        y
0            1  unknown  unknown

In [ ]:
merged = pd.merge(client_acc_camp, outcomes, on="campaign_id")
print(merged.shape)
merged.head(1)

(45211, 20)

,client_id,age,job,marital,education,account_id,in_default,balance,housing,loan,contact,campaign_id,day,month,duration,campaign,pdays,previous,poutcome,y
0,1000583,43,management,married,tertiary,19298,no,-127.0,no,no,cellular,19298,6,aug,400,2,-1,0,unknown,unknown

In [ ]:
random_rows = merged.sample(n=3)
random_rows

,client_id,age,job,marital,education,account_id,in_default,balance,housing,loan,contact,campaign_id,day,month,duration,campaign,pdays,previous,poutcome,y
29637,6902844,38,management,single,tertiary,869,no,673.0,yes,no,unknown,869,7,may,184,1,-1,0,unknown,unknown
42831,9514568,33,technician,married,tertiary,5465,no,17455.0,yes,yes,unknown,5465,23,may,343,4,-1,0,unknown,unknown
9029,2792249,68,retired,divorced,primary,44014,no,476.0,no,no,telephone,44014,28,jun,363,1,-1,0,unknown,unknown

In [ ]:
print(merged.isnull().sum(axis = 0))
print(merged.describe())

client_id      0
age            0
job            0
marital        0
education      0
account_id     0
in_default     0
balance        0
housing        0
loan           0
contact        0
campaign_id    0
day            0
month          0
duration       0
campaign       0
pdays          0
previous       0
poutcome       0
y              0
dtype: int64
          client_id           age    account_id        balance   campaign_id  \
count  4.521100e+04  45211.000000  45211.000000   45211.000000  45211.000000
mean   5.502555e+06     40.936210  22606.000000    1362.272058  22606.000000
std    2.590577e+06     10.618762  13051.435847    3044.765829  13051.435847
min    1.000583e+06     18.000000      1.000000   -8019.000000      1.000000
25%    3.263479e+06     33.000000  11303.500000      72.000000  11303.500000
50%    5.515908e+06     39.000000  22606.000000     448.000000  22606.000000
75%    7.735096e+06     48.000000  33908.500000    1428.000000  33908.500000
max    9.999678e+06     95.000000  45211.000000  102127.000000  45211.000000

                day      duration      campaign         pdays      previous
count  45211.000000  45211.000000  45211.000000  45211.000000  45211.000000
mean      15.806419    258.163080      2.763841     40.197828      0.580323
std        8.322476    257.527812      3.098021    100.128746      2.303441
min        1.000000      0.000000      1.000000     -1.000000      0.000000
25%        8.000000    103.000000      1.000000     -1.000000      0.000000
50%       16.000000    180.000000      2.000000     -1.000000      0.000000
75%       21.000000    319.000000      3.000000     -1.000000      0.000000
max       31.000000   4918.000000     63.000000    871.000000    275.000000

In [ ]:
merged.to_csv('merged_data.csv', index=False)